<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yzh.mapper.ItemMapper">

    <select id="getItemList" resultType="com.yzh.pojo.Item">
        SELECT * FROM item
        <where>
            <if test="mode == 0 or mode == 1 or mode == 2">
                trade_mode = #{mode}
            </if>
            <if test="itemId != 0">
                and id != #{itemId}
            </if>
            <if test="tag != 0">
                and tag = #{tag}
            </if>
            <if test="idSet != null and idSet.size() > 0">
                and id not in
                <foreach collection="idSet" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            and status = 0 and pageflag != 1
        </where>
        order by RAND() LIMIT 20
    </select>


    <select id="getUserItemList" resultType="com.yzh.pojo.Item">
        SELECT * FROM item
        <where>
            <if test="mode == 0 or mode == 1 or mode == 2">
                trade_mode = #{mode}
            </if>
            and owneruid = #{openId}
            and status = 0 and pageflag != 1
        </where>
        order by create_time
    </select>

    <!-- 从 item 表中选择所有字段，并计算每个物品与搜索关键词的相似度。
    相似度定义为如果 item_title 或 item_desc 中包含了搜索关键词，则为1，否则为0。
    最后根据similarity排序，最相似的放在前面-->
    <select id="searchItems" resultType="com.yzh.pojo.Item">
        SELECT *,
        (CASE WHEN item_title LIKE CONCAT('%', #{keywords}, '%') THEN 1 ELSE 0 END +
        CASE WHEN item_desc LIKE CONCAT('%', #{keywords}, '%') THEN 1 ELSE 0 END) AS similarity
        FROM item
        <where>
            <if test="mode == 0 or mode == 1 or mode == 2">
                trade_mode = #{mode}
            </if>
            <if test="keywords != null and keywords != ''">
                AND (item_title LIKE CONCAT('%', #{keywords}, '%') OR item_desc LIKE CONCAT('%', #{keywords}, '%'))
            </if>
        </where>
        ORDER BY similarity DESC
    </select>

</mapper>