<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yzh.mapper.OrderMapper">

    <select id="getAllOrderList" resultType="com.yzh.pojo.Order">
        SELECT *
        FROM `order`
        <where>
            holder_uid = #{holderUid}
            <if test="status != null">
                <choose>
                    <when test="status == 0">
                        AND status = 0
                    </when>
                    <when test="status == 1">
                        AND status != 0
                    </when>
                </choose>
            </if>
        </where>
    </select>


    <select id="selectShareOrders" resultType="com.yzh.pojo.Order">
        SELECT * FROM `order`
        WHERE holder_uid = #{holderUid}
        <if test="hScore == 6">
            <!-- hScore == 6时，不作为查询条件 -->
        </if>
        <if test="hScore == 0">
            AND hscore = 0
        </if>
        <if test="hScore == 1">
            AND hscore IN (1, 2, 3, 4, 5)
        </if>
        AND status = 1
        ORDER BY update_time DESC
    </select>

    <select id="selectReceiveOrders" resultType="com.yzh.pojo.Order">
        SELECT * FROM `order`
        WHERE need_uid= #{needUid}
        <if test="nScore == 6">
            <!-- nScore == 6时，不作为查询条件 -->
        </if>
        <if test="nScore == 0">
            AND nscore = 0
        </if>
        <if test="nScore == 1">
            AND nscore IN (1, 2, 3, 4, 5)
        </if>
        AND status = 1
        ORDER BY update_time DESC
    </select>
</mapper>